

.ok{
    border: 1px solid red;
    position: fixed;
    top: 0px;
    background-color: black;
    width: 100%;
}

h1{
    position: relative;
    /* top:50px; */
    /* left:200px; */

    /* bottom:200px; */
    right: ;
    color: red;

}

button{
    position: fixed;
    bottom:0px ;
    padding: 10px;
    border: 1px solid red;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 30px;
}




.main_parent{
    border: 2px solid red;
    position: relative;
    padding: 20px;
    margin: 50px;
    width: 500px;
    height: 500px;
}



.parent{
  
    border: 2px solid rgb(47, 0, 255);
    padding: 20px;
   
    width: 450px;
    height: 450px;
}

.child{
    position: absolute;
    top: 100px;
    left: 100px;
    border: 1px solid red;
    background-color: black;
    padding: 10px;
    width: 50px;
    height: 50px;
}